/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

.loading{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #ffa500;
  z-index: 9999;
}
.animation{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size : 40px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  -webkit-animation: lodanimetion 1500ms ease-out forwards infinite;
  animation: lodanimetion 1500ms ease-out forwards infinite;
}

@keyframes lodanimetion {
  from,to {
    opacity: 0;
  }
  30% {
    opacity: 1;
  };
}

.header {
  position: fixed;
  width: 308px;
  height: 929px;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  z-index: 10;
}

.ul_header{
  width: 85%;
}

.li_header{
  color: #fff;
  text-align: center;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  list-style-type: none;
}

.logo{
  witdth: 100%;
  height: 180px;
  object-fit: cover;
  margin-top: 40px;
}

a.btn--orange {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 15px solid #b84c00;
  width: 100%;
  height: 100%;
}
a.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}


.what{
  width: 100%;
  text-align: center;
  background-color: #FF6928;
  color: #fff;
  height: 90px;
  line-height: 90px;
}


.body_contents {
  width: calc(100% - 308px);
  height: 100%;
  padding-left: 30px;
}

.video {
  width: 117.5%;
  video {
    max-width: 110%;
    padding-right: 200px;
    padding-top: 50px;
  }
}

.footer {
    width: 100%;
    height: 10px;
    text-align: center;
}

.left-to-right {
  opacity: 0.1;
  transform: translateX(-20px);
  transition: all 3s;
  background: #FFCC66;
  border-radius: 20px;
  margin-bottom: 60px;
  text-align: center;
  color: white;
  height: 200px;
}
.left-to-right.scrollin {
  opacity: 1;
  transform: translate(0);
}

.animation_text{
  font-size: 30px;
}